<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 overflow-hidden">
    <!-- Header de Navegação -->
    <header class="bg-black text-white py-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex">
                <img src="../static/images/chapeu-de-graduacao.png" alt="" class="w-8 mr-2">
                <h1 class="text-2xl font-medium font-mono">FUTURE UNIVERSITY</h1>
            </div>
            <nav>
                <a href="/" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Home</a>
                <a href="/quem-somos" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Quem Somos</a>
                <a href="/cadastro" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Cadastro</a>
            </nav>
        </div>
    </header>