<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Site</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="overflow-hidden" style="background-image: url(../static/images/background.jpg); background-size:cover;">
    <!-- Header de Navegação -->
    <header class="bg-black text-white py-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex">
                <img src="../static/images/chapeu-de-graduacao.png" alt="" class="w-8 mr-2">
                <h1 class="text-2xl font-medium font-mono">FUTURE UNIVERSITY</h1>
            </div>
            <nav>
                <a href="/quem-somos" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Quem Somos</a>
                <a href="/contato" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Contato</a>
                <a href="/cadastro" class="px-4 py-2 text-md font-medium hover:bg-gray-800 rounded font-mono">Cadastro</a>
            </nav>
        </div>
    </header>

    <!-- Seção de Boas-vindas -->
    <section class="flex justify-center items-center mt-10">
        <div class="p-8 bg-white bg-opacity-60 rounded-3xl shadow-lg max-w-5xl max-h-screen text-center">
            <h1 class="text-5xl font-bold text-black mb-4">Seja bem vindo a Future University, a melhor universidade de tecnologia!!</h1>
            <p class="text-gray-700 text-lg mb-6 font-mono mt-5">A Future University é uma instituição de ensino superior voltada para formar líderes no campo da tecnologia. Oferecemos cursos em áreas de destaque, como ciência da computação, engenharia de software e inteligência artificial, com uma abordagem inovadora e prática.

                Nossa equipe de professores, composta por especialistas e profissionais do mercado, garante uma educação de ponta, conectada às demandas reais do setor. Com laboratórios modernos e acesso a tecnologias emergentes, proporcionamos um ambiente colaborativo e inclusivo, preparando nossos alunos para os desafios do futuro tecnológico. Venha para a Future University e construa seu caminho para transformar o mundo!</p>
            <a href="/quem-somos" class="font-mono inline-block bg-black text-white px-20 py-2 rounded-lg shadow-lg font-semibold hover:bg-gray-800">
                Saiba mais
            </a>
        </div>
    </section>
</body>
</html>
